h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #100f0f;
    padding: 20px;
    border: 1px solid gray;

}

.home {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-container {
    flex: 0 0 300px;
    width: 300px; /* Fixed width for sidebar */
    height: 94.5vh; /* Full height */
    overflow-y: scroll; /* Enable scrolling */
}

.content-container {
    flex: 1;
    /* Content container takes remaining space */
    padding-left: 20px;
    /* Space between sidebar and content */
}

.content-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 10rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50vh;
    margin: 80px;
}